@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Pouxins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.ux-logo {
    padding-top: 10px;
    margin-left: 30px;
    font-size: 30px;
    font-family: jost;
    font-weight: 600;
    color: white;
}

.ux-logo span {
    color: white;
}

.ux-navbar {
    height: 80px;
    background-color: #2519cd;
    display: list-item;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ux-navid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ux-navid ul {
    display: flex;
}

.ux-navid ul a {
    font-family: jost;
    padding-top: 20px;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.ux-navid ul a::after {
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.ux-navid ul a:hover::after {
    width: 100%;
}

.ux-login_signup {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.ux-signup {
    margin-left: 10px;
}

.ux-login {
    border: none;
    padding: 10px 25px;
    font-family: jost;
    font-weight: 400;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ux-login:hover {
    background-color: rgb(244, 241, 241);
    opacity: 1000;
}

.ux-signup {
    border: none;
    padding: 10px 20px;
    font-family: jost;
    font-weight: 400;
    cursor: pointer;
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ux-signup:hover {
    background-color: rgb(222, 8, 8);
    opacity: 1000;
}

/* Next Part */

.ux-headline {
    color: #4d4d4d;
    font-family: jost;
    padding-top: 100px;
    font-size: 50px;
    font-weight: 700;
    margin-left: 100px;
}

.ux-headimg {
    width: max-content;
    float: right;
    margin-top: 110px;
    margin-right: 20px;

}

.ux-tagline {
    color: #4d4d4d;
    font-family: jost;
    margin-left: 105px;
    margin-bottom: 10px;
}

.ux-tagline span {
    color: rgb(21, 147, 99);
}

.ux-phone {
    width: 40.5%;
    padding: 12px;
    margin-left: 105px;
    border-radius: 5px;
    border: 0.5px solid rgb(152, 148, 148);
}

.ux-phone::placeholder {
    padding: 50px;
    font-size: 15px;
    font-family: jost;
}

.ux-verify {
    font-family: jost;
    font-weight: 400;
    font-size: 15px;
    margin-left: 105px;
    color: #928c8c;
}

.ux-join {
    width: 40.5%;
    font-family: jost;
    font-weight: 400;
    padding: 14px;
    border-radius: 5px;
    margin-left: 105px;
    background-color: #4d4d4d;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ux-join:hover {
    background-color: rgb(61, 61, 61);
    opacity: 1000;
}

/* Next Part */

.ux-body2 {
    height: 1000px;
    background-color: white;
}

.ux-headline2 {
    font-family: jost;
    font-weight: 700;
    font-size: 30px;
    margin-top: 50px;
    color: #4d4d4d;
}

.ux-tagline2 {
    color: #4d4d4d;
    font-family: jost;
}

.ux-tagline2 span {
    color: rgb(79, 236, 176);
}

.ux-search_goal {
    width: 75%;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(152, 148, 148);
}

.ux-search_goal::placeholder {
    padding: 60px;
    font-size: 15px;
    font-family: jost;
}

.ux-goal {
    font-family: jost;
    font-weight: 600;
    font-size: 25px;
    padding-top: 25px;
    color: #4d4d4d;
}

.ux-course { 
    margin: 30px;
    font-family: jost;
    font-weight: 600;
    font-size: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 80px;
    background-color: white;
    color: #4d4d4d;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px #3498db;
}

.ux-course span {
    font-size: 40px;
}

.ux-course:hover {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgb(81, 81, 194);
}

.ux-popular {
    display: inline-block;
    padding: 15px 60px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: white;
    border: 0.3px solid rgb(152, 148, 148);
    cursor: pointer;
    font-family: jost;
    font-size: 15px;
    font-weight: 500;
    color: #4d4d4d;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.ux-popular:hover{
    background-color: #ece8e8;
}
.ux-popular a{
    text-decoration: none;
    color: #4d4d4d;
}
/* Next Part */

.ux-body3{
    height: 400px;
}

.ux-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.ux-train {
    position: relative;
    width: 80%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px #3498db;
    margin: 0 auto;
}

.ux-train img {
    position: absolute;
    bottom: 55px;
    border-radius: 10px;
    margin-left: 700px;
}

.ux-train pre {
    position: absolute;
    padding-top: 45px;
    font-family: jost;
    font-weight: 600;
    font-size: 30px;
    color: #4d4d4d;
}

.ux-city pre {
    position: absolute;
    font-family: jost;
    font-weight: 400;
    font-size: 20px;
    margin-left: 100px;
    padding-top: 135px;
    color: rgb(152, 148, 148);
}

.ux-points pre {
    position: absolute;
    font-family: jost;
    font-weight: 400;
    font-size: 17px;
    padding-left: 100px;
    padding-top: 210px;
}

.ux-centre {
    font-family: jost;
    font-weight: 400;
    padding: 8px 25px;
    margin-left: 100px;
    margin-top: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    width: 200px;
    background-color: #928c8c;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ux-centre:hover {
    background-color: #757272;
}

/* Next Part */

.ux-copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 90px;
    color: black;
    cursor: pointer;
}

.ux-copyright p:hover {
    color: #4d4d4d;
    font-size: large;
}


.centre:hover {
    background-color: #757272;
}

/* Next Part */



footer {
    width: 100%;
    height: -70px;
    background-color: #2519cd;
    display: flex;
    margin-top: 50px;
    box-shadow: 0 0 100px #3498db;
}

footer ul {
    display: flex;
    padding-left: 100px;
}

footer ul a {
    color: white;
    text-decoration: none;
    list-style: none;
    padding-top: 40px;
    padding-left: 25px;
    font-family: jost;
    font-weight: 500;
}

.tech pre {
    font-family: jost;
    font-weight: 400;
    padding-left: 500px;
    padding-top: 75px;
    color: white;
    font-size: 15px;
}